<form [formGroup]="addForm">
<div class="post-input">
  <mat-form-field>
    <input
      type="text"
      formControlName="title"
      matInput
      #message
      maxlength="15"
      placeholder="Title"
    />
    <mat-hint>
    <strong>Give us a unique post title please!</strong>
    </mat-hint>
    <mat-error *ngIf="error"></mat-error>
  </mat-form-field>
  <mat-form-field>
      <input
        type="text"
        formControlName="description"
        matInput
        maxlength="100"
        placeholder="Description"
      />
      <mat-hint>
      <strong>Give us post description please!</strong>
      </mat-hint>
      <mat-error *ngIf="error"></mat-error>
    </mat-form-field>
</div>
</form>
