<form [formGroup]="addForm">
  <div class="post-input">
    <mat-form-field>
      <input
        type="text"
        formControlName="title"
        matInput
        #message
        maxlength="15"
        placeholder="Title"
      />
      <mat-error *ngIf="error">Must insert a input value</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        formControlName="description"
        matInput
        maxlength="100"
        placeholder="Description"
      />
      <mat-error *ngIf="error">Must insert a input value</mat-error>
    </mat-form-field>
    <button class="addPost" (click)="addPost()" mat-button>Add</button>
  </div>
</form>
