<form [formGroup]="addForm">
  <div class="post-input">
    <mat-form-field>
      <input
        type="text"
        formControlName="title"
        matInput
        #message
        maxlength="15"
        placeholder="Title"
      />
      <mat-error *ngIf="error">Must insert a input value</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        formControlName="body"
        matInput
        maxlength="100"
        placeholder="Description"
      />
      <mat-error *ngIf="error">Must insert a input value</mat-error>
    </mat-form-field>
    <button
      class="addPost"
      type="button"
      mat-stroked-button
      color="primary"
      (click)="formSubmit()"
      mat-button
    >
      Add
    </button>
  </div>
</form>
