<div class="main">
  <header>
    <h1>Posts</h1>
  </header>
  <p class="global-likes">
    {{ total }}
  </p>
  <app-addpost (addPost)="addPost($event)"></app-addpost>
  <div class="wall">
    <app-post
    *ngFor="let post of posts"
    (deleteMe)="delete($event)"
    [post]="post"
    ></app-post>
  </div>
<!-- <ul>
    <li>
      <h2>Title</h2>
      <p>Description</p>
      <p>{{ total }}</p>
      <button class="like" (click)="like()">like</button>
      <button class="dislike" (click)="dislike()">like</button>
    </li>
  </ul> -->
</div>
