<h2>Post Component</h2>
<button (click)="tap($event)" aria-setsize="20">Tap!</button>

<div class="main">
  <div class="wall">
  <app-post
    *ngFor="let post of posts"
    (deleteMe)="delete($event)"
    [post]="post"
    ></app-post>
  </div>
</div>

<mat-card>
<mat-card-actions>
<!--   <button
  mat-icon-button
  [ngClass]="{ liked: post.myLuke }"
  (click)="post.myLike ? dislike() : like()"></button>
  <mat-icon>favorite</mat-icon>
<p class="total">{{ post.total}}</p> -->
<!-- <button
  class="delete"
  (click)="deleteMe,emit(post.id)"
  mat-button
  color="warn"
  >
    Delete
</button> -->
</mat-card-actions>
</mat-card>
